/* footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #999999;
    margin-bottom: 0px;
    font-family: 'Anton', sans-serif;
}

p {
    font-size: 20px;
    color: #999999;

}

a {
    color: #8b1c62;
}

h3 {
    text-align: center;
}

.container {
    margin: 20px auto 20px auto;
}

#hat-picture {
    height: 25%;
    width: 25%;
    margin: 20px;
    float: left;
    padding: 10px;
    background-color: whitesmoke;
}

#jake-picture {
    height: 25%;
    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#headshot {
    height: 200px;
    width: 150px;
    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;

}

#jumbo {
    color: #8b1c62;
    background-color: #f9f9f6;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}



#nav {
    padding: 20px;
    background-color: #ffc100;
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
}

#contact-me {
    background-color: #f9f9f6;
    padding: 20px;
    font-family: 'Anton', sans-serif;
}

#carousel {
    background-color: #d2d4c0;
    color: #8b1c62;
    text-align: center;
    font-size: 30px;
}

#header-name {
    font-family: 'ZCOOL KuaiLe', cursive;
}

#header-contact {
    font-family: 'ZCOOL KuaiLe', cursive;
}

#logo {
    padding: 2px;
    background-color: #8b1c62;
}

#logo-text {
    text-align: center;
    color: #C5F0CA;
    font-size: 40px;
    font-family: 'ZCOOL KuaiLe', cursive;
}

#contact-me {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #8b1c62;
}

#contact-submit {
    background-color: #82E0C9; 
    border-color: #8b1c62;
    color: #8b1c62;
}

.portfolio-title {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 35px;
    color: #8b1c62;
}

#portfolio-link {
    text-align: center;
    color: #8b1c62;
}

#toggler {
    background-color: #8b1c62;
} */

#name {
    padding: 10px;
    background-color: darkslategray;
    color: goldenrod;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}

body {
    background-image: url(./images/morocco/morocco.png)
}

#portfolio-image {
    height: 50%; 
    width: 50%;
    box-shadow: 4px 4px 4px  black
}

#portfolio-card {
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
}

#portfolio-text {
    font-size: 12px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

#portfolio-button {
    font-size: 12px;
}

#resume {
    font-size: 12px;
    font-style: italic;
    padding: 10px;
    background-color: tomato;
    color: white;
    text-align: center;
}

#meet-me {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px tomato,
                 2px 2px grey,
                 3px 3px tomato,
                 4px 4px tomato;
}

#left-container {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#right-container {
    color: black;
    font-family: 'Roboto', sans-serif;
}

#work-experience {
    font-family: 'Comfortaa', cursive;
}

#education {
    font-family: 'Comfortaa', cursive;
}

#bootcamp-portfolio {
    font-family: 'Comfortaa', cursive;
}
